<!doctype html>
<html>
<head>
  <title>Basic Huncwot App Example</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
  <include-stylesheets/>
</head>
<body>
  <main/>
  <include-javascripts/>
</body>
</html>
