<!doctype html>
<html>
<head>
    <title>Marko + Huncwot Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
    <lasso-head/>
</head>
<body>
  <main/>
  <lasso-body/>
</body>
</html>