<include('../layouts/base')>
  <@body>
    <div class="container has-text-centered">
      <h1 class="title">Hello ${input.name}</h1>
      <h2 class="subtitle">Click below to see the some Huncwot magic!</h2>
      <click-count/>
    </div>
  </@body>
</include>
    