class {
  onCreate() {
    this.state = { count:0 };
  }
  click() {
    this.state.count++;
  }
}

style {
  .section { height: 100vw; }
  .count { font-size:3em; }
  a.button {
    margin-right: .5em;
  }
}

<section class="section" on-click('click')>
  <div class="content has-text-centered">
    <div.count>${state.count}</div>
  </div>
</section>

